<footer>
    <nav>
        <ul>
            <li class="multicolortext">Contacto</li>
            <li class="multicolortext">Quenes somos</li>
            <li class="multicolortext">Trabaja con nosotros</li>
            <li class="multicolortext">Aviso legal</li>
        </ul>
    </nav>
    <img class="redes" src="./image/facebook.webp" alt="facebook" width="50px"  > Facebook
    <img class="redes" src="./image/instagram.webp" alt="instagram" width="50px"> Instagram
    <img class="redes" src="./image/twitter.webp" alt="Twitter" width="50px"> twitter
    <img class="redes" src="./image/what.webp" alt="what" width="50px"> whatssapp

    <p class="precio-producto">©BokeFilms  2022</p>
</footer>
