
<body>
    
    <div id="box">
        <header class="cabe">
            <form>
                <button class="imp" type="submit">Buscar</button>
                <input class="imp"  type="text" name="buscar" placeholder="Buscar y pulse enter">

            </form>
               
            <img class="image" src="assets/image/logo.png" alt="logo" width="300px">
                     
        </header>
        <nav >
            <ul >
                <li class="multicolortext">Comedia</li>
                <li class="multicolortext">Ciencia Ficcion</li>
                <li class="multicolortext">Fantasia</li>
                <li class="multicolortext">Terror</li>
                <LI class="multicolortext">Drama</LI>
                <li class="multicolortext">Familiar</li>
            </ul>
        </nav>
